Alex Kapranoff <kappa@cpan.org> <alex@kapranoff.ru>
Alex Kapranoff <kappa@cpan.org> <kapranoff@gmail.com>
Alex Sukria <sukria@cpan.org> <alexis@weborama.com>
Alex Sukria <sukria@cpan.org> <sukria@sukria.net>
Michael G. Schwern <schwern@pobox.com>
Neil Kirsopp <neil@broadbean.com>
